/* CSS Reset by Josh W Comeau   https://www.joshwcomeau.com/css/custom-css-reset/*/

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin and padding
  */
* {
  padding: 0;
  margin: 0;
}
/*
    3. Allow percentage-based heights in the application
  */
html,
body {
  height: 100%;
}
/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
  -webkit-font-smoothing: antialiased;
}
/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

:root {
  --clr-gradient-top: hsl(273, 75%, 66%);
  --clr-gradient-bottom: hsl(240, 73%, 65%);
  --clr-text-heading: hsl(238, 29%, 16%);
  --clr-text-accent: hsl(14, 88%, 65%);
  --clr-text-main-light: hsl(240, 6%, 50%);
  --clr-text-main-heavy: hsl(237, 12%, 33%);
  --clr-divider: hsl(240, 6%, 50%);

  --fs-main: 0.75rem;

  --ff-main: "Kumbh Sans", sans-serif;

  --fw-main: 400;
  --fw-bold: 700;
}

body {
  min-height: 100vh;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: min(95%, 1100px);
}

.row {
  display: flex;
  flex-direction: column;
}

.question-container {
  display: flex;
}
