/* CSS Reset by Josh W Comeau   https://www.joshwcomeau.com/css/custom-css-reset/*/

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin and padding
  */
* {
  padding: 0;
  margin: 0;
}
/*
    3. Allow percentage-based heights in the application
  */
html,
body {
  height: 100%;
}
/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
  -webkit-font-smoothing: antialiased;
}
/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

:root {
  --clr-gradient-top: hsl(273, 75%, 66%);
  --clr-gradient-bottom: hsl(240, 73%, 65%);
  --clr-text-heading: hsl(238, 29%, 16%);
  --clr-text-accent: hsl(14, 88%, 65%);
  --clr-text-main-light: hsl(240, 6%, 50%);
  --clr-text-main-heavy: hsl(237, 12%, 33%);
  --clr-divider: hsl(240, 6%, 50%);

  --fs-main: 0.75rem;

  --ff-main: "Kumbh Sans", sans-serif;

  --fw-main: 400;
  --fw-bold: 700;
}

body {
  min-height: 100vh;
  min-height: 100vh;
  display: grid;
  place-items: center;
  background: linear-gradient(
    var(--clr-gradient-top),
    var(--clr-gradient-bottom)
  );
  font-family: var(--ff-main);
  font-size: var(--fs-main);
  color: var(--clr-text-main-light);
}

.main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: min(95%, 1200px);
  margin-inline: auto;
  background-color: #fff;
  border-radius: 25px;
  padding: 3em;
}

.question-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.25em;
}

.question {
  font-weight: var(--fw-main);
  color: var(--clr-text-main-heavy);
}

.image-container {
  position: relative;
}

.questions > * {
  margin-bottom: 1.5rem;
}

.box {
  position: absolute;
  top: 40%;
  left: -10%;
}

h1 {
  margin-bottom: 1.75rem;
  color: var(--clr-text-heading);
}

.arrow {
  width: 15px;
  height: 15px;
  cursor: pointer;
}

hr {
  margin-top: 1.25rem;
  color: var(--clr-divider);
}

.answer {
  position: absolute;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.answer.visible {
  position: static;
  opacity: 1;
  transition: all 0.5s ease-in-out;
}
